<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>BUSINESS_TYPE_CONTAINER</string>
		<key>name</key>
		<string>集装箱</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BUSINESS_TYPE_BULK_STACK</string>
		<key>name</key>
		<string>散堆装</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BUSINESS_TYPE_LARGE_SIZE</string>
		<key>name</key>
		<string>大件</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BUSINESS_TYPE_CONTAINER</string>
		<key>name</key>
		<string>其他</string>
	</dict>
</array>
</plist>
